@* @attribute [Authorize(Roles = C.UserRoles.EditDevices)] *@
<AuthorizeView Roles="@C.UserRoles.SysAdmin">
    <NotAuthorized>
        <CNotAuthorized />
    </NotAuthorized>
    <Authorized>
        <h3>UserList</h3>
    </Authorized>
</AuthorizeView>

@code {

}
